<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/Send-email" method="post">
        <h1>Contact</h1>
        <table>
            <tr>
                <td><label>Senders Email</label></td>
            </tr>
            <tr>
                <td><input name="sender" type="text" placeholder="Enter email"></td>
            </tr>
            <tr>
                <td><label>Password</label></td>
            </tr>
            <tr>
                <td><input name="password" type="password" placeholder="Enter password"></td>
            </tr>
            <tr>
            <tr>
                <td><label>Subject</label></td>
            </tr>
            <tr>
                <td><input name="subject" type="text" placeholder="Enter something"></td>
            </tr>
            <tr>
                <td><label>Message</label></td>
            </tr>
            <tr>
                <td><textarea name="message" cols="16" rows="8"></textarea></td>
            </tr>
            <tr>
                <td><input type="submit" value="Submit">
            </tr>
        </table>
    </form>
</body>
</html>
